<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 offset-sm-3">
      <div class="form-basic">


        <% if @user.company != nil && @approving != true && @join != true%>
          <h2>Change your Account</h2>
          <%= simple_form_for @user do |f| %>
            <%= f.input :first_name,
                        required: true,
                        placeholder: "John" %>
            <%= f.input :last_name,
                        required: true,
                        placeholder: "Snow" %>
            <%= f.input :email,
                        required: true,
                        placeholder: "john@company.com" %>
            <%= f.input :phone_number,
                        required: false,
                        placeholder: "+32 470 12 34 56" %>
            <%= f.input :function,
                        required: false,
                        placeholder: "CEO" %>
            <%= f.submit "Save your changes", class: "btn btn-primary" %>
          <% end %>
          <%= button_to "Delete your account", { action: "destroy", id: current_user.id }, method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger"  %>

        <%elsif @approving %>
          <h2>Approve user</h2>
          <%= simple_form_for @user do |f| %>
              <%= f.input :status,
                          label: "Current status",
                          disabled: true %>
               <%= f.input  :status,
                            label: "New status",
                            collection: User::STATUSES,
                            required: true,
                            autofocus: true %>
              <%= f.submit "Save your changes", class: "btn btn-primary" %>
            <% end %>

        <%elsif @join %>
          <h2>Apply to join company</h2>
          <%= simple_form_for @user do |f| %>
              <%= f.association :company %>
              <%= f.submit "Save your changes", class: "btn btn-primary" %>
            <% end %>
        <%else%>
            <h2>Change your Account</h2>
            <%= simple_form_for @user do |f| %>
              <%= f.input :first_name,
                          required: true,
                          placeholder: "John",
                          input_html: { autocomplete: "first name" }%>
              <%= f.input :last_name,
                          required: true,
                          placeholder: "Snow",
                          input_html: { autocomplete: "last name" }%>
              <%= f.input :email,
                          required: true,
                          placeholder: "john@company.com",
                          input_html: { autocomplete: "email" }%>
              <%= f.input :phone_number,
                          required: false,
                          placeholder: "+32 470 12 34 56",
                          input_html: { autocomplete: "Phone Number" }%>
              <%= f.input :function,
                          required: false,
                          placeholder: "CEO",
                          input_html: { autocomplete: "Job Function" } %>
            <%= f.submit "Save your changes", class: "btn btn-primary" %>
            <% end %>
            <%= button_to "Delete your account", { action: "destroy", id: current_user.id }, method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger"  %>
        <%end%>

      </div>
    </div>
  </div>
</div>
