<div class="container mt-5">
  <div class="row">
    <div class="col-xs-12 col-sm-4 offset-sm-4">
      <div class="form-basic">
        <h2> Enter your credit card details </h2>

        <p style="color:red"><%= @card_incorrect == nil ? "" : "Your card number is incorrect. Please try again!"%> </p>
        <p style="color:red"><%= @cvv_incorrect == nil ? "" : "Your CVV number is incorrect, it should have 3 number. Please try again!"%> </p>
        <p style="color:red"><%= @card_not_valid == nil ? "" : "Your card is not valid anymore. Please try with a new one!"%> </p>

        <%= simple_form_for [@company, @bank_details] do |f| %>

          <%= f.input :card,
                      label: "Card Number",
                      required: true,
                      autofocus: true,
                      placeholder: "4242 4242 4242 4242" %>
          <%= f.input :expiration_date,
                      as: :string,
                      required: true,
                      autofocus: true,
                      input_html: {class: "datepicker"} %>
          <%= f.input :cvv,
                      required: true,
                      autofocus: true,
                      placeholder: "876" %>
          <%= f.submit "Save", class: "btn btn-primary" %>
        <% end %>

        </div>
      </div>
    </div>
  </div>

