<h1> add a rating</h1>

<%= simple_form_for [ @softwarePlan, @rating ] do |f| %>
    <%= f.error_notification %>
    <%= f.input :rating, collection:[0, 1, 2, 3, 4, 5], nput_html: { multiple: true, class: 'multiple-select' }, include_hidden: false%>
    <%= f.input :description %>
    <%= f.button :submit, "Add" %>
<%end%>