<%= content_for(:navbar_class, "navbar-home") %>

<div class="banner" >

  <div class="container text-center">
    <h1>Stop losing money: act now</h1>
    <p>Subscriptio helps you to stop overpaying for your software subscriptions</p>
     <%= link_to "START FOR FREE", new_user_registration_path, class: "subscriptio-btn-primary" %>
  </div>

</div>

<div >
  <%= render 'shared/footer' %>
</div>
<!-- <h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>
      <% if user_signed_in? %>
        <li class="nav-item active">
          <%= link_to "Home", "#", class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Messages", "#", class: "nav-link" %>
        </li>
        <li class="nav-item dropdown">
          <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
            <%= link_to "Action", "#", class: "dropdown-item" %>
            <%= link_to "Another action", "#", class: "dropdown-item" %>
            <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
          </div>
        </li>

      <% if current_user.company_id == nil %>
      <a href="./users/<%=current_user.id%>/edit.Join"> I want to join a company </a>
      <%= link_to "New Company!", new_company_path, class:"nav_link"%>


      <% elsif current_user.company.subscriptio_plan.id == 1 && current_user.company_admin%>
        <%= link_to "Become a Premium Member", new_user_bank_detail_path(current_user.id), class:"nav_link"%>
    <%end%>

          <% else %>
        <li class="nav-item">
          <%= link_to "Login", new_user_session_path, class: "nav-link" %>
        </li>
      <% end %>

-->
