<%= content_for(:navbar_class, "navbar-home") %>
<div class="banner" >
  <div class="container text-center">
    <h1>Stop losing money: act now</h1>
    <p>Subscriptio helps you to stop overpaying for your software subscriptions</p>
     <%= link_to "START FOR FREE", new_user_registration_path, class: "subscriptio-btn-primary" %>
  </div>
</div>

<div class="container mt-5">
  <div class="row justify-content-around mb-5">
    <div class="home-image-info col-xs-12 col-sm-4">
        <h2>Stop overpayment</h2>
        <p>Companies overpay on average more than 30% on software subscriptions </p>
        <p>Subscriptio allows you to save costs by benchmarking your software subscriptions </p>
    </div>
    <div class="home-image col-xs-12 col-sm-4">
        <%= image_tag "dashboard.png" %>
    </div>

  </div>
</div>

<div class="container">
  <div class="row justify-content-around mb-5">
    <div class="home-image col-xs-12 col-md-4">
        <%= image_tag "manage_subscriptions.png" %>
      </div>
      <div class="home-image-info col-xs-12 col-sm-4">
        <h2>Manage software subscriptions</h2>
        <p> Currently 56%  of companies  rely only on subscription-based software, which is projected to grow to more than 80% by 2023</p>
        <p>Subscriptio provides you a clear overview of all your software subscriptions and indicates the ones that need your attention</p>
      </div>
  </div>
</div>

<div class="container">
  <div class="row justify-content-around">
    <div class="home-image-info col-xs-12 col-md-4">
      <h2>Find cheapest vendors</h2>
      <p>Finding the cheapest software vendors is a time-consuming task and requires a lot of detailed knowledge  </p>
      <p>Subscriptio takes this work completely out of your hands and recommends the cheapest software solutions for your needs </p>
    </div>
    <div class="home-image col-xs-12 col-md-4">
      <%= image_tag "find_cheapest_vendors.png" %>
    </div>
  </div>
</div>

<div class="container my-5">
  <div class="row justify-content-around">
    <div class="col-xs-12 col-sm-5">
      <div class="card-subscriptio-plan">
        <h2>Free</h2>
        <div class="subscriptio-features">
          <i class="fas fa-check"></i>
          <p>  Overview of software subscriptions </p>
        </div>
        <div class="subscriptio-features">
          <i class="fas fa-check"></i>
          <p>  Add new software subscription </p>
        </div>
        <div class="subscriptio-features">
          <i class="fas fa-check"></i>
          <p> Terminate software subscription </p>
        </div>
        <div class="subscriptio-features">
          <i class="fas fa-check"></i>
          <p> Receive basic recommendations </p>
        </div>
        <h2>€0</h2>
        <div class="button">
          <%= link_to "SIGN UP", new_user_registration_path, class: "subscriptio-btn-primary" %>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-5">
      <div class="card-subscriptio-plan">
        <h2>Premium</h2>
        <div class="subscriptio-features">
          <i class="fas fa-check"></i>
          <p> Everything in the free plan </p>
        </div>
        <div class="subscriptio-features">
          <i class="fas fa-check"></i>
          <p> Receive advanced recommendations </p>
        </div>
        <div class="subscriptio-features">
          <i class="fas fa-check"></i>
          <p> Dashboard to see how much you spend </p>
        </div>
        <div class="subscriptio-features">
          <i class="fas fa-check"></i>
          <p> Dashboard to see how much you can save </p>
        </div>
        <h2>€9,99 / month</h2>
        <div class="button">
          <%= link_to "SIGN UP", new_user_registration_path, class: "subscriptio-btn-primary" %>
        </div>
      </div>
    </div>
  </div>
</div>

<div >
  <%= render 'shared/footer' %>
</div>



  <% if user_signed_in? %>

    <% if current_user.company_id == nil %>
      <a href="./users/<%=current_user.id%>/edit.Join"> I want to join a company </a>
      <%= link_to "New Company!", new_company_path, class:"nav_link" %>

    <% elsif current_user.company.subscriptio_plan.id == 1 && current_user.company_admin %>
        <%= link_to "Become a Premium Member", new_user_bank_detail_path(current_user.id), class:"nav_link" %>
    <%end%>

  <% else %>


  <% end %>



