<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-4 offset-sm-4">
      <div class="form-basic">
        <h2>Create a new company</h2>
          <%= simple_form_for @company do |f| %>
            <%= f.input :name,
                        required: true,
                        autofocus: true,
                        placeholder: "Johnson Pharmaceuticals" %>
            <%= f.input :address,
                        required: true,
                        autofocus: true,
                        placeholder: "Rue des Colonies 34 1000 Bruxelles" %>
            <%= f.input :country,
                        required: true,
                        autofocus: true,
                        placeholder: "Belgium" %>
            <%= f.input :company_size,
                        collection: Company::SIZES,
                        required: true,
                        autofocus: true %>
            <%= f.input :turnover,
                        collection: Company::TURNOVERS,
                        required: true,
                        autofocus: true %>
            <%= f.submit "Save", class: "btn btn-primary" %>
          <% end %>
</div>


