
<%if params[:format] != 'Dashboard'%>

<div class="container p-5 mt-3">
  <div class="row">
    <div class="col-xs-12 col-sm-4">
      <h2> Company details </h2>
        <div class="p-3">
          <p><%=@company.name%></p>
          <p><%=@company.address%></p>
          <p><%=@company.country%></p>
          <p><%=@company.company_size%> employees</p>
          <p><%=@company.turnover%> turnover</p>
        </div>
      <h3> Subscriptio plan </h3>
        <div class="p-3">
          <p><%=@company.subscriptio_plan.name%></p>
          <p>€<%=@company.subscriptio_plan.price%></p>
        </div>
    </div>
    <div class="col-xs-12 col-sm-8">
      <h2 class="text-center">Company members</h2>
      <table class="table table-bordered m-3">
        <thead>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Function</th>
          <th>Admin</th>
          <th>Status</th>
          <th>Action</th>
        </thead>
        <% sum_users = 0 %>
        <tbody>
          <% @users.each do |user| %>
            <%sum_users += 1%>
            <tr>
              <td><%= user.first_name%></td>
              <td><%= user.last_name%></td>
              <td><%= user.function%></td>
              <td><% if user.company_admin = "true" %>
                  <%= "Yes" %>
                  <% else %>
                  <%= "No" %>
                  <% end %>
              </td>
              <td><%= user.status %> </td>
              <td><%= link_to edit_user_path(user.id) do %>
                  <i class="fas fa-edit"></i>
                <% end %>
                 <a href="./<%=@company.id%>/users/<%=user.id%>/edit.Approved">
                    <i class="fa fa-trash"></i>
                  </a>

                <%if user.status == 'Waiting for approval' %>
                  <a href="./<%=@company.id%>/users/<%=user.id%>/edit.Approved">
                    <i class="far fa-thumbs-up"></i>
                  </a>
                <% end %>
               </td>

            </tr>
          <% end %>
        </tbody>
          <tfoot>
            <tr>
              <td><strong>Total users</strong></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td><strong> <%= sum_users %> </strong> </td>
            </tr>
          </tfoot>
      </table>

    </div>


        <% if current_user.company.subscriptio_plan.id == 1%>
          <%= link_to "Become a Premium Member", new_user_bank_detail_path(current_user.id), class:"nav_link"%>
          <%else%>
          <%= button_to "I want to cancel my subscription", "../users/#{current_user.id}/bank_details/#{BankDetail.where(:user_id => current_user.id)[0].id}", method: :delete, data: { confirm: "Are you sure?" }  %>
      <%end%>


<%else%>

<div class="container mt-5">
  <div class="row">
    <div class="col-12">
      <h2 class="text-center m-5"> Expenses evolution current year</h2>

      <p> <strong>Predicted total expenses: </strong> €<%=@sum_expenses_2020%></p>
      <p> <strong>Lowest possible total expenses: </strong> €<%= @low_sum_expenses_2020%>
  <!--      - <strong>Total possible savings: </strong> €<%=@sum_expenses_2020 - @low_sum_expenses_2020%>  -->
      </p>

      <%  current_month = Date.today.strftime('%Y-%m')%>



      <p> <strong>Potential savings if you switch now: </strong> €<%= @economy_to_day %> </p>

<!--      <p> The payment for this month <%=@expenses_per_month[current_month]%> € </p>
      <p> The payment with the lowest subscription for this month <%=@low_expenses_per_month[current_month]%> € </p>
-->
      <br>
      <br>

      <%= line_chart [{name: "Your Price", data: @expenses_per_month_2020},
         {name: "Cheapest Price available", data: @low_expenses_per_month_2020}]  %>

         <br>
         <br>
    </div>
  </div>

  <div class="row m-3">
    <div class="col-12">
      <h2 class="text-center m-5"> Software price per user distribution </h2>
      <%= column_chart @subscription_range_price , width: "800px", height: "300px"%>
    </div>
  </div>

  <div class="row m-5">
    <div class="col-12">
      <h2 class="text-center m-5"> Software plan status </h2>
      <%= pie_chart @subscription_status,  colors: ["#109618", "#DC3912"] %>
    </div>

    </div>
  </div>
</div>

<%end%>
