<div class="container mt-3">
  <h2 class="text-center">All softwares for the category <%=@softwares[0].category%> </h2>
  <div class="row justify-content-center">
    <div>
      <%= simple_form_for softwares_path, method: :get do %>
        <%= text_field_tag :query,
          params[:query],
          class: "form-control",
          placeholder: "I want to find...."
          %>
    </div>
    <div class="ml-3">
        <%= submit_tag "Search", class: "btn btn-primary" %>
    </div>
      <% end %>

  </div>

  <div class="row mt-3">
    <div class="software-cards">
      <% @softwares.each do |software| %>
        <%software_plan = SoftwarePlan.where(software_id: software.id)%>
        <%software_plan.each do |plan|%>
          <div class="software-card">
            <%reviews = plan.ratings%>
            <%sum_reviews = 0.0%>
            <%reviews.each do |review|%>
              <%sum_reviews += review.rating%>
            <% end %>
            <%average_reviews = sum_reviews/(reviews.length)%>
            <%sum_price = 0%>
            <%subscriptions = Subscription.order('price ASC').where(:software_plan_id => plan.id)%>

            <%subscriptions[0] == nil ? lowest_price = nil : lowest_price = subscriptions[0].price%>
            <%subscriptions.each do |subscription|%>
              <%sum_price += subscription.price%>
            <% end %>
            <%subscriptions[0] == nil ?   average_price = nil :  average_price = sum_price / (subscriptions.length)%>
            <%= plan.software.name %> - <%=plan.name%> - Official Price: <%=plan.official_price%> € - <%='%.2f' %  average_reviews%> stars <%=lowest_price == nil ? "" : "- lowest_price: #{lowest_price}" %>  <%=average_price == nil ? "" : "- average_price: #{'%.2f' % average_price}" %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>


<%
=begin %>
  <ul>
  	<% @softwares.each do |software| %>
  		<%software_plan = SoftwarePlan.where(software_id: software.id)%>
  		<%software_plan.each do |plan|%>
  		<%reviews = plan.ratings%>
  		<%sum_reviews = 0.0%>
  		<%reviews.each do |review|%>
  			<%sum_reviews += review.rating%>
  		<%end%>
  		<%average_reviews = sum_reviews/(reviews.length)%>
  		<%sum_price = 0%>
  		<%subscriptions = Subscription.order('price ASC').where(:software_plan_id => plan.id)%>

  		<%subscriptions[0] == nil ? lowest_price = nil : lowest_price = subscriptions[0].price%>
  		<%subscriptions.each do |subscription|%>
  			<%sum_price += subscription.price%>
  		<%end%>
  		<%subscriptions[0] == nil ? average_price = nil :  average_price = sum_price / (subscriptions.length)%>
  		<li><%= plan.software.name %> - <%=plan.name%> - Official Price: <%=plan.official_price%> € - <%='%.2f' %  average_reviews%> stars <%=lowest_price == nil ? "" : "- lowest_price: #{lowest_price}" %>  <%=average_price == nil ? "" : "- average_price: #{'%.2f' % average_price}" %></li>
  		<%end%>
  	<%  end %>
  </ul>

  <%end%>
<%
=end %>

</div>

<!-- add only if admin--->

<%# <%= link_to "add a software", new_software_path %>

