<h1> <%= @software.name %></h1>
<p> Category : <%= @software.category %></p>
<p> url : <%= @software.url %></p>


 <%= link_to " ------> see all plans for this software ", software_software_plans_path(@software) %>

<hr>

<p><%= link_to "add a new plan", new_software_software_plan_path(@software)%></p>

<p><%= link_to "go Back to all softwares", softwares_path %></p>