<h1> My Subscriptions </h1>
<br>

<ul>
    <%=@subscriptions.each do |subscription|%>
    <li>Software Name: <%=subscription.software_plan.software.name%> - Price: <%= subscription.price%> - Start Date: <%= subscription.start_date%> - End Date: <%= subscription.end_date%> </li>
    <%end%>
    </ul>