

<div class="container">

<%if current_user.status == "Approved" || current_user.company_admin   %>
  <div class="container">
    <h1 class="text-center"> Subscriptions </h1>
    <div class="card-text-right">
      <%= link_to "Add new", new_company_subscription_path(current_user.company_id)%>
    </div>
  </div>
  <%= form_tag company_subscriptions_path, method: :get do %>
      <%=label_tag :query2, "Name of my software : "%>
            <%= text_field_tag :query2, params[:query2]%>
      <%= submit_tag "Search", class: "btn btn-primary" %>
    <% end %>
    <ul>
      <% @subs.each do |sub|%>
        <li><a href="./subscriptions/<%=sub.id%>"> <%=sub.software_plan.software.name%> </a></li>
      <% end %>
    </ul>


   <div class="container">
    <%@subscriptions.each do |subscription|%>
      <div class="card-subscription mb-3">
        <div class="col-xs-1 col-sm-2">
           <a href="./subscriptions/<%=subscription.id%>"> <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" /> </a>
        </div>
        <div class="card-subscription-infos col-xs-5 col-sm-4">
          <h2><a href="./subscriptions/<%=subscription.id%>"> <%=subscription.software_plan.software.name%> </a></h2>
          <p> <%= subscription.software_plan.software.category %>  </p>
          <p><%= subscription.end_date%></p>
<!--          <a href="./subscriptions/<%=subscription.id%>/edit">edit </a> -->
        </div>
        <div class="col-5">
          <p><strong> €<%= subscription.price%> / month</strong>
          <p> <%= subscription.software_plan.name%> </p>
          <p> <%= subscription.number_of_user%> users </p>
        </div>
        <div class="card-subscription-indicators col-1">
          <%= image_tag "traffic-light-red.png"%>
        </div>
         </div>
            <%end%>
  </div>



<%else%>

  <div class="container">
    <h2> Your account is still not approved </h2>
  </div>
  <%end%>



<div class="container">


<h2>Search in all softwares</h2>

  <%= simple_form_for softwares_path, method: :get do %>
    <%= text_field_tag :query,
      params[:query],
      autocomplete: :off,
      class: "form-control search-input",
      placeholder: "Search a software by name, category, or a feature...."
    %>
    <%= submit_tag "Search", class: "btn btn-primary" %>
  <% end %>

  <% if @results == [] %>
     <%= "Sorry no results" %>
  <% elsif @results == nil %>
   <%= "You can easily make a search by software name, category, ou feature" %>
  <% else %>
    <ul>
      <% @results.each do |result| %>
        <% if result.searchable_type == "Software" %>
          <li>[Software]<%= link_to result.content, software_path(result.searchable_id) %>
          </li>
        <% else %>
          <li>[Feature]<%= link_to result.content, feature_path(result.searchable_id) %></li>
        <% end %>
      <%  end %>
    </ul>
  <% end %>


</div>

<div class="container">

<h2> Search in my subscriptions</h2>

  <%= simple_form_for company_subscriptions_path, method: :get do %>
      <%= text_field_tag :query2,
        params[:query2],
        autocomplete: :off,
        class: "form-control search-input",
        placeholder: "Search in my subscriptions...."
      %>
      <%= submit_tag "Search", class: "btn btn-primary" %>
    <% end %>



</div>  
