<div class="container">
  <div class="row justify-content-center">
    <h2 class="text-center"> Overview of subscriptions </h2>
  </div>
  <div class="row justify-content-end mr-3">
      <%= link_to new_company_subscription_path(current_user.company_id) do %> <i class="fas fa-plus "> </i><% end %>
  </div>

  <div class="row mb-4 justify-content-center">
    <div>
    <%= form_tag company_subscriptions_path, method: :get do %>
      <%= text_field_tag :query2,
        params[:query2],
        class: "form-control",
        placeholder: "Find a software"
      %>
    </div>
    <div class="ml-3">
      <%= submit_tag "Search", class: "btn btn-primary" %>
    </div>
    <% end %>
  </div>

<% if @lowest_price_same_range_number_user.length == 0 %>
  <div class="container">
    <p class="text-center my-5">No subscription found </p>
    <div class="row justify-content-center">
      <%= link_to "Add new", new_company_subscription_path(current_user.company_id), class: "btn btn-primary" %>
    </div>
  </div>

<% else %>

  <% @lowest_price_same_range_number_user.each do |key,subscription|%>
  <% if ( subscription[0].price - subscription[1].price ) < 0 %>
    <div class="card-subscription mb-3">
      <div class="col-xs-1 col-sm-2">
         <a href="./subscriptions/<%=key%>">
          <%= cl_image_tag subscription[1].software_plan.software.photo.key %> </a>
      </div>
      <div class="card-subscription-infos col-xs-5 col-sm-4">
        <h2><a href="./subscriptions/<%=key%>"> <%=subscription[1].software_plan.software.name%> </a></h2>
        <p> <%= subscription[1].software_plan.software.category %>  </p>
        <p><%= subscription[1].end_date%></p>
      </div>
      <div class="col-5">
        <p><strong> €<%= subscription[1].price  * subscription[1].number_of_user%> / month</strong>
        <p> <%= subscription[1].software_plan.name%> </p>
        <p> <%= subscription[1].number_of_user%> users </p>
      </div>
      <div class="card-subscription-indicators col-1">
          <%= image_tag "traffic-light-red.png"%>

      </div>
    </div>
    <% end %>
  <%end%>

<% @lowest_price_same_range_number_user.each do |key,subscription|%>
  <% if  ( ( subscription[0].price - subscription[1].price ) >= 0 ) && @all_alternative_hash[key][1] < subscription[1].price %>
    <div class="card-subscription mb-3">
      <div class="col-xs-1 col-sm-2">
         <a href="./subscriptions/<%=key%>">
          <%= cl_image_tag subscription[1].software_plan.software.photo.key %> </a>
      </div>
      <div class="card-subscription-infos col-xs-5 col-sm-4">
        <h2><a href="./subscriptions/<%=key%>"> <%=subscription[1].software_plan.software.name%> </a></h2>
        <p> <%= subscription[1].software_plan.software.category %>  </p>
        <p><%= subscription[1].end_date%></p>
      </div>
      <div class="col-5">
        <p><strong> €<%= subscription[1].price  * subscription[1].number_of_user%> / month</strong>
        <p> <%= subscription[1].software_plan.name%> </p>
        <p> <%= subscription[1].number_of_user%> users </p>
      </div>
      <div class="card-subscription-indicators col-1">
          <%= image_tag "traffic-light-orange.png"%>

      </div>
    </div>
    <% end %>
  <%end%>

  <% @lowest_price_same_range_number_user.each do |key,subscription|%>
  <% if ( subscription[0].price - subscription[1].price ) >= 0 && @all_alternative_hash[key][1] >= subscription[1].price %>
    <div class="card-subscription mb-3">
      <div class="col-xs-1 col-sm-2">
         <a href="./subscriptions/<%=key%>">
          <%= cl_image_tag subscription[1].software_plan.software.photo.key %> </a>
      </div>
      <div class="card-subscription-infos col-xs-5 col-sm-4">
        <h2><a href="./subscriptions/<%=key%>"> <%=subscription[1].software_plan.software.name%> </a></h2>
        <p> <%= subscription[1].software_plan.software.category %>  </p>
        <p><%= subscription[1].end_date%></p>
      </div>
      <div class="col-5">
        <p><strong> €<%= subscription[1].price  * subscription[1].number_of_user%> / month</strong>
        <p> <%= subscription[1].software_plan.name%> </p>
        <p> <%= subscription[1].number_of_user%> users </p>
      </div>
      <div class="card-subscription-indicators col-1">

          <%= image_tag "traffic-light-green.png"%>

      </div>
    </div>
    <% end %>
  <%end%>
<% end %>
</div>


