

<div class="container">

<%if current_user.status == "Approved" || current_user.company_admin   %>
  <div class="container">
    <h1 class="text-center"> Overview of subscriptions </h1>
    <div class="card-text-right">

      <%= link_to new_company_subscription_path(current_user.company_id) do %>
        <i class="fas fa-plus ">  </i>
      <% end %>
</div>
    </div>
  </div>



  <div class="container mb-3 d-flex justify-content-center">
    <%= simple_form_for company_subscriptions_path, method: :get do %>
      <%= text_field_tag :query2,
        params[:query2],
        autocomplete: :off,
        class: "form-control search-input",
        placeholder: "Search in my subscriptions...."%>
      <%= submit_tag "Search", class: "btn btn-primary" %>
    <% end %>
  </div>



   <div class="container">
    <%@subs.each do |subscription|%>
      <div class="card-subscription mb-3">
        <div class="col-xs-1 col-sm-2">
           <a href="./subscriptions/<%=subscription.id%>"> <%= image_tag "slack-logo.png"%> </a>
        </div>
        <div class="card-subscription-infos col-xs-5 col-sm-4">
          <h2><a href="./subscriptions/<%=subscription.id%>"> <%=subscription.software_plan.software.name%> </a></h2>
          <p> <%= subscription.software_plan.software.category %>  </p>
          <p><%= subscription.end_date%></p>
<!--          <a href="./subscriptions/<%=subscription.id%>/edit">edit </a> -->
        </div>
        <div class="col-5">
          <p><strong> €<%= subscription.price%> / month</strong>
          <p> <%= subscription.software_plan.name%> </p>
          <p> <%= subscription.number_of_user%> users </p>
        </div>
        <div class="card-subscription-indicators col-1">

<!-- Start of: Not sure where to put this code?? -->
        <% @subscription_decreasing_order = Subscription.order('price ASC').where(:software_plan_id => subscription.software_plan_id)
        @lowest_price = @subscription_decreasing_order[0]
        @subscription_in_range = []
        range_user = (subscription.number_of_user - (1 + (subscription.number_of_user/2)**2))..(subscription.number_of_user + (1 + (subscription.number_of_user/2)**2))
        @subscription_decreasing_order.each do |sub|
            if range_user === sub.number_of_user
                @subscription_in_range << sub
            end
        end
        @lowest_price_same_range_number_user = @subscription_in_range[0] %>
<!-- End of: Not sure where to put this code?? -->

          <% if ( @lowest_price_same_range_number_user.price - subscription.price ) < 0 %>
            <%= image_tag "traffic-light-red.png"%>
          <%elsif #if there are other software recommendations # %>
            <%= image_tag "traffic-light-orange.png"%>
          <% else %>
            <%= image_tag "traffic-light-green.png"%>
          <% end %>

        </div>
         </div>
            <%end%>
  </div>



<%else%>

  <div class="container">
    <h2> Your account is still not approved </h2>
  </div>
  <%end%>


<!--

<div class="container">


 <h2>Search in all softwares</h2>

  <%= simple_form_for softwares_path, method: :get do %>
    <%= text_field_tag :query,
      params[:query],
      autocomplete: :off,
      class: "form-control search-input",
      placeholder: "Search a software by name, category, or a feature...."
    %>
    <%= submit_tag "Search", class: "btn btn-primary" %>
  <% end %>

  <% if @results == [] %>
     <%= "Sorry no results" %>
  <% elsif @results == nil %>
   <%= "You can easily make a search by software name, category, ou feature" %>
  <% else %>
    <ul>
      <% @results.each do |result| %>
        <% if result.searchable_type == "Software" %>
          <li>[Software]<%= link_to result.content, software_path(result.searchable_id) %>
          </li>
        <% else %>
          <li>[Feature]<%= link_to result.content, feature_path(result.searchable_id) %></li>
        <% end %>
      <%  end %>
    </ul>
  <% end %>

</div>
-->
