<div class="container mt-5">
  <div class="row">
    <div class="col-xs-12 col-sm-4 offset-sm-4">
      <div class="form-basic">

        <h2> Add a new subscription </h2>

        <div data-controller="software">
            <%= simple_form_for([@company, @subscription]) do |f|%>
                <div class="form-group" >
                  <%= label :software, "Software"%>
                  <%= select_tag :software,
                                  options_from_collection_for_select(@softwares, "id", "name"),
                                  include_blank: true,
                                  data: { action: "software#fetchPlans" },
                                  class: "form-control select2" %>
                </div>
                <div class="form-group">
                  <%= label :other, "Plan"%>
                    <div data-target="software.wrapper" >
                    </div>
                </div>
                <%= f.input :start_date,
                            as: :string,
                            required: true,
                            autofocus: true,
                            placeholder: "June 3, 2020",
                            input_html: {class: "datepicker_full"} %>
                <%= f.input :end_date,
                            as: :string,
                            required: true,
                            autofocus: true,
                            placeholder: "December 31, 2020",
                            input_html: { class: "datepicker_full"} %>
                <%= f.input :number_of_user,
                            as: :integer,
                            required: true,
                            autofocus: true,
                            placeholder: "5" %>
                <%= f.input :price,
                            as: :float,
                            required: true,
                            autofocus: true,
                            placeholder: "20",
                            label: 'Price per Month per User' %> <br>

                <%= f.submit "Add", class: "btn btn-primary" %>
            <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
