<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-4 offset-sm-4">
      <div class="form-basic">

        <h2> Add a new subscription </h2>

        <div data-controller="software-plan">
            <%= simple_form_for([@company, @subscription]) do |f|%>
                <%= label :software, "Software"%><br>
                <%= select_tag :software, options_from_collection_for_select(@softwares, "id", "name"), include_blank: true, data: { action: "software-plan#fetchPlans" } %>
                <br>
                <br>
                <%= label :other, "Plan"%><br>
                <div data-target="software-plan.wrapper">

                </div>
                <br>
                <%= f.input :start_date, as: :string, input_html: {class: "datepicker_full"} %> <br>
                <%= f.input :end_date, as: :string, input_html: { class: "datepicker_full"} %> <br>
                <%= f.input :number_of_user, as: :integer, required: true %> <br>
                <%= f.input :price, as: :float, label: 'Price per Month per User' %> <br>

                <br>
                <%= f.submit "Save", class: "btn btn-primary" %>
            <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
