

  <div class="container">
   <h1 class="text-center"> Subscription for <%=@subscription.software_plan.software.name %> </h1>
     <div class="card-text-right">
        <%= link_to edit_company_subscription_path(current_user.company_id) do %> <i class="fa fa-edit"> </i> <% end %>
        <%= link_to company_subscription_path, method: :delete, data: { confirm: "Are you sure?" } do %> <i class="fa fa-trash"> </i> <% end %>
    </div>
  </div>

  <div class="container pb-3">
    <div class="row justify-content-around">
      <div class="col-xs-12 col-sm-2">
        <div class="subscription-show-image">
         <%= cl_image_tag @subscription.software_plan.software.photo.key %>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4">
        <p>Category: <a href="<%=softwares_url%>.<%=@subscription.software_plan.software.category%>"> <%= @subscription.software_plan.software.category%> </a> </p>
        <p>Plan: <%= @subscription.software_plan.name %> - <%= @subscription.number_of_user%> users </p>
        <p>Start: <%= @subscription.start_date %> </p>
        <p>End: <%= @subscription.end_date%></p>
        <p>Website: <a href="<%=@subscription.software_plan.software.url%>"> <%=@subscription.software_plan.software.name %> </a>
      </div>

      <div class="col-xs-12 col-sm-3">
        <div class="price-flex">
          <h2> €<%= @subscription.price%> / month</h2>
        </div>
      </div>
    </div>
  </div>

  <div class="container border-top pt-3">
    <div class="row justify-content-between">
      <div class="col-xs-12 col-sm-6">
        <h2 class="mb-3"> Recommendations </h2>
        <p class="mb-3 text-center"> <i> <u> Your software</u>: <%= @subscription.software_plan.software.name %> - <%= @subscription.software_plan.name %> </i></p>

        <div class="cards text-center mb-4">
          <div class="card-software">
            <p>Official monthly price </p>
            <h2 class="mt-3 mb-4">€<%= @subscription.software_plan.official_price %></h2>
          </div>

          <div class="card-software">
            <p>Lowest monthly price</p>
            <h2 class="mt-3 mb-4">€<%= @lowest_price_same_range_number_user.price %></h2>
          </div>

          <div class="card-software">
            <p>Potential yearly savings</p>
            <% if ( @subscription.price - @lowest_price_same_range_number_user.price ) > 0.0 %>
              <h2 class="mt-3 mb-4 card-red" > €<%= ( @subscription.price - @lowest_price_same_range_number_user.price ) * 12 %>  </h2>
            <% else %>
              <h2 class="mt-3 mb-4 card-green" > €<%= ( @subscription.price - @lowest_price_same_range_number_user.price ) * 12 %>  </h2>
            <% end %>

          </div>
        </div>

        <p class="mb-3 text-center"> <i> <u> Other software </u></i></p>

        <div class="cards text-center mb-4">
          <div class="card-software">
            <p>Cheaper alternative </p>
            <% if ( @subscription.price - @all_alternative_hash[@subscription.id][1] ) > 0.0 %>
              <h2 class="mt-3"><a href="<%=Subscription.find(@all_alternative_hash[@subscription.id][0]).software_plan.software.url%>">  <%=Subscription.find(@all_alternative_hash[@subscription.id][0]).software_plan.software.name%> </a> </h2>
              <p> <a href="<%=software_plan_path(Subscription.find(@all_alternative_hash[@subscription.id][0]).software_plan) %>"> <%= Subscription.find(@all_alternative_hash[@subscription.id][0]).software_plan.name %> </a></p>
            <% else %>
              <p class= "mt-3 mb-4 full-opacity-bold">You have already the cheapest software 🎉</p>

            <% end %>
          </div>

          <div class="card-software">
            <p>Lowest monthly price</p>
            <h2 class="mt-3 mb-4">€<%= Subscription.find(@all_alternative_hash[@subscription.id][0]).price %></h2>
          </div>

          <div class="card-software">
            <p>Potential yearly savings</p>
            <% if ( @subscription.price - @all_alternative_hash[@subscription.id][1] ) > 0.0 %>
              <h2 class="mt-3 mb-4 card-orange" > €<%= ( @subscription.price - @all_alternative_hash[@subscription.id][1] ) * 12 %>  </h2>
            <% else %>
              <h2 class="mt-3 mb-4 card-green" > €<%= ( @subscription.price - @all_alternative_hash[@subscription.id][1] ) * 12 %>  </h2>
            <% end %>

          </div>
        </div>


        <div class="cards text-center mb-4">
          <div class="card-software">
            <p>Better alternative </p>
            <% if ( @max_rating - @average_review ) > 0.0 %>
              <h2 class="mt-3"><a href="<%=@max_rated_alternative.software.url%>"> <%= @max_rated_alternative.software.name%> </a></h2>
              <p> <a href="<%=@max_rated_alternative%>"> <%= @max_rated_alternative.name %> </a></p>
            <% else %>
              <p class= "mt-3 mb-4 full-opacity-bold">You have already the best-reviewed software 🎉</p>
            <% end %>
          </div>

          <div class="card-software">
            <p>Avg score your software</p>
            <h2 class="mt-3 mb-4"><span class="fa fa-star checked"></span><%= @average_review %></h2>
          </div>

          <div class="card-software">
            <p>Avg score better software</p>
            <% if ( @max_rating - @average_review ) > 0.0 %>
              <h2 class="mt-3 mb-4"><span class="fa fa-star checked"></span><%= @max_rating %>  </h2>
            <% else %>
              <p class= "mt-3 mb-4 full-opacity-bold">You have already the best-reviewed software 🎉</p>
            <% end %>

          </div>
        </div>
      </div>

      <div class="col-xs-12 col-sm-5">
        <div class="d-inline-flex ">
          <h2 class="mb-3"><%= pluralize @subscription.software_plan.ratings.size, "review" %> </h2>
          <p class="pl-3 pt-2">  <span class="fa fa-star checked"></span> <%= @average_review %> </p>
        </div>

        <% if @subscription.software_plan.ratings.blank? %>
          <p> Be the first to leave a review for <%= @subscription.software_plan.software.name %> - <%= @subscription.software_plan.name %> </p>
        <% end %>

        <% if @reviewed != true %>
          <%= simple_form_for( [ @subscription.software_plan, @rating ], remote: true) do |f| %>
            <%= f.error_notification %>
            <div class="pr-5">
              <%= f.input :rating,
                          collection:[0, 1, 2, 3, 4, 5],
                          required: true,
                          input_html:{ style: "width:25%"} %>
            </div>
              <%= f.input :description,
                          autofocus: true %>
            <div class="d-flex justify-content-center">
              <%= f.submit "Add", class: "btn btn-primary mb-3"  %>
            </div>
          <% end %>
        <% end %>

        <% @subscription.software_plan.ratings.order("created_at DESC")[0..2].each do |rating| %>
          <% if rating.description.length > 30 %>
            <% description = rating.description[0..25] + "..." %>
          <% else %>
            <% description = rating.description %>
          <% end %>

          <% if rating.user_id == current_user.id %>
            <% user_own_review = true %>
          <% end %>

          <% if rating.rating == 0 %>
            <p> <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
                | <a href="<%=rating_path(rating.id)%>"> <%= description %> </a>
                <% if user_own_review %>
                  | <%= link_to edit_software_plan_rating_path(@subscription.software_plan, rating) do %> <i class="fa fa-edit"> </i> <% end %>
                    <%= link_to software_plan_rating_path(@subscription.software_plan, rating), method: :delete, data: { confirm: "Are you sure?" } do %> <i class="fa fa-trash"> </i> <% end %>
                <% end %>
              </p>
            <p class="review-origin ml-3"> <%=rating.updated_at.strftime('%d-%m-%Y') %> by someone from <%= rating.user.company.country%> with function <%= rating.user.function %> in company of <%= rating.user.company.company_size.downcase %> employees </p>
          <% end %>
          <% if rating.rating == 1 %>
            <p> <span class="fa fa-star checked"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
                | <a href="<%=rating_path(rating.id)%>"> <%= description %> </a>
                <% if user_own_review %>
                  | <%= link_to edit_software_plan_rating_path(@subscription.software_plan, rating) do %> <i class="fa fa-edit"> </i> <% end %>
                    <%= link_to software_plan_rating_path(@subscription.software_plan, rating), method: :delete, data: { confirm: "Are you sure?" } do %> <i class="fa fa-trash"> </i> <% end %>
                <% end %>
              </p>
            <p class="review-origin ml-3"> <%=rating.updated_at.strftime('%d-%m-%Y') %> by someone from <%= rating.user.company.country%> with function <%= rating.user.function %> in company of <%= rating.user.company.company_size.downcase %> employees </p>
          <% end %>
          <% if rating.rating == 2 %>
            <p> <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
                | <a href="<%=rating_path(rating.id)%>"> <%= description %> </a>
                <% if user_own_review %>
                  | <%= link_to edit_software_plan_rating_path(@subscription.software_plan, rating) do %> <i class="fa fa-edit"> </i> <% end %>
                    <%= link_to software_plan_rating_path(@subscription.software_plan, rating), method: :delete, data: { confirm: "Are you sure?" } do %> <i class="fa fa-trash"> </i> <% end %>
                <% end %>
           </p>
            <p class="review-origin ml-3"> <%=rating.updated_at.strftime('%d-%m-%Y') %> by someone from <%= rating.user.company.country%> with function <%= rating.user.function %> in company of <%= rating.user.company.company_size.downcase %> employees </p>
          <% end %>
          <% if rating.rating == 3 %>
            <p> <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
                | <a href="<%=rating_path(rating.id)%>"> <%= description %> </a>
                <% if user_own_review %>
                  | <%= link_to edit_software_plan_rating_path(@subscription.software_plan, rating) do %> <i class="fa fa-edit"> </i> <% end %>
                    <%= link_to software_plan_rating_path(@subscription.software_plan, rating), method: :delete, data: { confirm: "Are you sure?" } do %> <i class="fa fa-trash"> </i> <% end %>
                <% end %>
              </p>
            <p class="review-origin ml-3"> <%=rating.updated_at.strftime('%d-%m-%Y') %> by someone from <%= rating.user.company.country%> with function <%= rating.user.function %> in company of <%= rating.user.company.company_size.downcase %> employees </p>
          <% end %>
          <% if rating.rating == 4 %>
            <p> <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star"></span>
                | <a href="<%=rating_path(rating.id)%>"> <%= description %> </a>
                <% if user_own_review %>
                  | <%= link_to edit_software_plan_rating_path(@subscription.software_plan, rating) do %> <i class="fa fa-edit"> </i> <% end %>
                    <%= link_to software_plan_rating_path(@subscription.software_plan, rating), method: :delete, data: { confirm: "Are you sure?" } do %> <i class="fa fa-trash"> </i> <% end %>
                <% end %>
            </p>
            <p class="review-origin ml-3"> <%=rating.updated_at.strftime('%d-%m-%Y') %> by someone from <%= rating.user.company.country%> with function <%= rating.user.function %> in company of <%= rating.user.company.company_size.downcase %> employees </p>
          <% end %>
          <% if rating.rating == 5 %>
            <p> <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                | <a href="<%=rating_path(rating.id)%>"> <%= description %> </a>
                <% if user_own_review %>
                  | <%= link_to edit_software_plan_rating_path(@subscription.software_plan, rating) do %> <i class="fa fa-edit"> </i> <% end %>
                    <%= link_to software_plan_rating_path(@subscription.software_plan, rating), method: :delete, data: { confirm: "Are you sure?" } do %> <i class="fa fa-trash"> </i> <% end %>
                <% end %>
            </p>
            <p class="review-origin ml-3"> <%=rating.updated_at.strftime('%d-%m-%Y') %> by someone from <%= rating.user.company.country%> with function <%= rating.user.function %> in company of <%= rating.user.company.company_size.downcase %> employees </p>
          <% end %>

        <% end %>
        <% if @subscription.software_plan.ratings.length > 3 %>
          <a href="<%=software_plan_ratings_path(@subscription.software_plan_id)%>"> See all reviews </a>
        <% end %>

      </div>

    </div>

  </div>

  <%
=begin %> <%else%>
   <h3>My Chart</h3>
  <div id="chartContainer">
   <%= @chart.render() %>
  </div>
<%
=end %>

  <div class="row m-3">
    <div class="col-8 offset-2">
      <h2 class="text-center m-5"> Software price per user distribution </h2>
      <%= column_chart @subscription_range_price %>
    </div>
  </div>



<%
=begin %> <%else%>
  <div>
    <p> Your account is still not approved </p>
  </div>
<%end%>
<%
=end %>

<div class="container">
  <div class="row justify-content-center">
    <div class="mt-5 mb-3">
      <%= link_to "Back to overview", company_subscriptions_path(current_user.company_id), class: "btn btn-primary" %>
    </div>
  </div>
</div>




