<div class="container">

  <%if current_user.status == "Approved" || current_user.company_admin   %>
    <h1 class="text-center"> Subscription for <%=@subscription.software_plan.software.name %> </h1>
    <div class="text-right">
      <%= link_to "Add new", new_company_subscription_path(current_user.company_id)%>
    </div>

      <div class="card-subscription-grid">
          <div class="card-subscription">
            <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
            <div class="card-subscription-infos">
              <h2><%=@subscription.software_plan.software.name%></h2>
              <p> <%= @subscription.software_plan.software.category %> - <%= @subscription.software_plan.name %> </p>
              <p><%= @subscription.end_date%></p>
              <a href="../subscriptions/<%=@subscription.id%>/edit">edit </a>
              <!--
              <%= button_to "Delete your subscription", { action: "destroy", id: @subscription.id }, method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger"  %>
              -->
            </div>
            <div class="card-subscription-indicators">
              <%= image_tag "traffic-light-red.png"%>
              <p><strong> €<%= @subscription.price%></strong></p>

            </div>
          </div>
      </div>
  <p> <%=@subscription.number_of_user%> </p>
  <p> Lowest Price Available for your Plan: <%=@lowest_price.price%> € for <%=@lowest_price.number_of_user%> users and a company of <%=@lowest_price.company.company_size%> employee
  <p> The Official Price for your plan is <%= @subscription.software_plan.official_price%> €</p>

  <p> The lowest price for the same number of user as you is <%=@lowest_price_same_range_number_user.price %> which is <strong> <%= @lowest_price_same_range_number_user.price - @subscription.price %> €</strong> </p>
  <%else%>
      <p> Your account is still not approved </p>
  <%end%>
</div>

