<div class="container">

  <%if current_user.status == "Approved" || current_user.company_admin   %>
    <h1 class="text-center"> Subscription for <%=@subscription.software_plan.software.name %> </h1>
    <div class="text-right">
      <%= link_to "Add new", new_company_subscription_path(current_user.company_id)%>
    </div>

      <div class="card-subscription-grid">
          <div class="card-subscription">
            <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
            <div class="card-subscription-infos">
              <h2><%=@subscription.software_plan.software.name%></h2>
              <p> <%= @subscription.software_plan.software.category %> </p>
              <p><%= @subscription.end_date%></p>
              <a href="./subscriptions/<%=@subscription.id%>/edit">edit </a> 
              <%= button_to "Delete your subscription", { action: "destroy", id: @subscription.id }, method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger"  %>
            </div>
            <div class="card-subscription-indicators">
              <%= image_tag "traffic-light-red.png"%>
              <p><strong> €<%= @subscription.price%></strong></p>

            </div>
          </div>
      </div>

  <%else%>
      <p> Your account is still not approved </p>
  <%end%>
</div>

