<%if current_user.status == "Approved" || current_user.company_admin   %>
  <div class="container">
   <h1 class="text-center"> Subscription for <%=@subscription.software_plan.software.name %> </h1>
     <div class="card-text-right">
        <%= link_to edit_company_subscription_path(current_user.company_id) do %> <i class="fa fa-edit"> </i> <% end %>
        <%= link_to company_subscription_path, method: :delete, data: { confirm: "Are you sure?" } do %> <i class="fa fa-trash"> </i> <% end %>

    </div>
  </div>

  <div class="container pb-3">
    <div class="row justify-content-around">
      <div class="col-xs-12 col-sm-2">
        <div class="subscription-show-image">
         <%= cl_image_tag @subscription.software_plan.software.photo.key %>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4">
        <p>Category: <a href="<%=softwares_url%>.<%=@subscription.software_plan.software.category%>"> <%= @subscription.software_plan.software.category%> </a> </p>
        <p>Plan: <%= @subscription.software_plan.name %> - <%= @subscription.number_of_user%> users </p>
        <p>Start: <%= @subscription.start_date %> </p>
        <p>End: <%= @subscription.end_date%></p>
        <p>Website: <a href="<%=@subscription.software_plan.software.url%>"> <%=@subscription.software_plan.software.name %> </a>
      </div>

      <div class="col-xs-12 col-sm-3">
        <div class="price-flex">
          <h2> €<%= @subscription.price%> / month</h2>
        </div>
      </div>
    </div>
  </div>

  <div class="container border-top pt-3">
    <div class="row justify-content-between">
      <div class="col-xs-12 col-sm-6">
        <h2 class="mb-3"> Recommendations </h2>
        <p class="mb-3"> <i> <u> Your software </u></i></p>
        <% if  ( @lowest_price_same_range_number_user.price - @subscription.price ) < 0 %>
          <p class="ml-3"> <strong> Lowest price for same users: </strong> €<%=@lowest_price_same_range_number_user.price %>: <span style="background-color:#CF1015; color:white"> €<%= @lowest_price_same_range_number_user.price - @subscription.price %> </span> difference  </p>
        <% else %>
          <p class="ml-3"> <strong> Lowest price for same users: </strong> €<%=@lowest_price_same_range_number_user.price %>: <span style="background-color:#5DCD8D; color:white"> €<%= @lowest_price_same_range_number_user.price - @subscription.price %> </span> difference  </p>
        <% end %>
        <p class="ml-3"> <strong>Lowest price: </strong> €<%=@lowest_price.price%> ( <%=@lowest_price.number_of_user%> users - company: <%=@lowest_price.company.company_size.downcase%> FTEs) </p>
        <p class="ml-3"> <strong>Official price: </strong> €<%= @subscription.software_plan.official_price%></p>
        <p class="mb-3"> <i> <u> Other software </u></i></p>

        <p class="ml-3"> <strong>Cheaper alternative: </strong> <a href="<%=@lowest_subscription.software_plan.software.url%>"> <%=@lowest_subscription.software_plan.software.name%> </a> - <a href="<%=software_plan_path(@lowest_subscription.software_plan) %>"> <%= @lowest_subscription.software_plan.name %> </a></p>
        <p class="ml-3"> <strong>Better alternative: </strong> <a href="<%=@max_rated_alternative.software.url%>"> <%=@max_rated_alternative.software.name%> </a> - <a href="<%=software_plan_path(@max_rated_alternative.id)%>"> <%=@max_rated_alternative.name%> </a></p>
        <p class="ml-3"> <a href="<%=softwares_url%>.<%=@subscription.software_plan.software.category%>"> See all the alternatives </a> </p>
      </div>

      <div class="col-xs-12 col-sm-5">
        <div class="d-inline-flex ">
          <h2 class="mb-3"><%= pluralize @subscription.software_plan.ratings.size, "review" %> </h2>
          <p class="pl-3 pt-2">  <span class="fa fa-star checked"></span> <%= @average_review %> </p>
        </div>

        <% unless @reviewed %>
          <%= simple_form_for( [ @subscription.software_plan, @rating ], remote: true) do |f| %>
            <%= f.error_notification %>
            <div class="pr-5">
            <%= f.input :rating,
                        collection:[0, 1, 2, 3, 4, 5],
                        required: true,
                        input_html:{ style: "width:25%"} %>
            </div>
            <%= f.input :description,
                        autofocus: true %>
            <div class="d-flex justify-content-center">
              <%= f.submit "Add", class: "btn btn-primary mb-3"  %>
            </div>
          <% end %>
        <% end %>



        <% if @subscription.software_plan.ratings.blank? %>
          Be the first to leave a review for <%= @subscription.software_plan.software.name %> - <%= @subscription.software_plan.name %>
        <% else %>
          <% @subscription.software_plan.ratings.order("created_at DESC")[0..2].each do |rating| %>
            <%if rating.description.length > 30%>
              <%description = rating.description[0..25] + "..."%>
            <% else %>

              <%description = rating.description%>
            <% end %>

            <% if rating.user_id == current_user.id
              user_own_review = true
             end %>

              <% if rating.rating == 0 %>
                <p> <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                 | <a href="<%=rating_path(rating.id)%>"> <%= description %> </a>
                    <% if user_own_review %>
                    | <%= link_to edit_software_plan_rating_path(@subscription.software_plan, rating) do %> <i class="fa fa-edit"> </i> <% end %>
                      <%= link_to software_plan_rating_path(@subscription.software_plan, rating), method: :delete, data: { confirm: "Are you sure?" } do %> <i class="fa fa-trash"> </i> <% end %>
                    <% end %>
                  </p>
                <p class="review-origin ml-3"> <%=rating.updated_at %> by someone from <%= rating.user.company.country%> with function <%= rating.user.function %> in company of <%= rating.user.company.company_size.downcase %> employees </p>
              <% elsif rating.rating == 1 %>
                <p> <span class="fa fa-star checked"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                 | <a href="<%=rating_path(rating.id)%>"> <%= description %> </a>
                    <% if user_own_review %>
                    | <%= link_to edit_software_plan_rating_path(@subscription.software_plan, rating) do %> <i class="fa fa-edit"> </i> <% end %>
                      <%= link_to software_plan_rating_path(@subscription.software_plan, rating), method: :delete, data: { confirm: "Are you sure?" } do %> <i class="fa fa-trash"> </i> <% end %>
                    <% end %>
                  </p>
                <p class="review-origin ml-3"> <%=rating.updated_at %> by someone from <%= rating.user.company.country%> with function <%= rating.user.function %> in company of <%= rating.user.company.company_size.downcase %> employees </p>
              <% elsif rating.rating == 2 %>
                <p> <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                 | <a href="<%=rating_path(rating.id)%>"> <%= description %> </a>
                    <% if user_own_review %>
                    | <%= link_to edit_software_plan_rating_path(@subscription.software_plan, rating) do %> <i class="fa fa-edit"> </i> <% end %>
                      <%= link_to software_plan_rating_path(@subscription.software_plan, rating), method: :delete, data: { confirm: "Are you sure?" } do %> <i class="fa fa-trash"> </i> <% end %>
                    <% end %>
               </p>
                <p class="review-origin ml-3"> <%=rating.updated_at %> by someone from <%= rating.user.company.country%> with function <%= rating.user.function %> in company of <%= rating.user.company.company_size.downcase %> employees </p>
              <% elsif rating.rating == 3 %>
                <p> <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                 |<a href="<%=rating_path(rating.id)%>"> <%= description %> </a>
                    <% if user_own_review %>
                    | <%= link_to edit_software_plan_rating_path(@subscription.software_plan, rating) do %> <i class="fa fa-edit"> </i> <% end %>
                      <%= link_to software_plan_rating_path(@subscription.software_plan, rating), method: :delete, data: { confirm: "Are you sure?" } do %> <i class="fa fa-trash"> </i> <% end %>
                    <% end %>
                  </p>
                <p class="review-origin ml-3"> <%=rating.updated_at %> by someone from <%= rating.user.company.country%> with function <%= rating.user.function %> in company of <%= rating.user.company.company_size.downcase %> employees </p>
              <% elsif rating.rating == 4 %>
                <p> <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star"></span>
                  <a href="<%=rating_path(rating.id)%>"> <%= description %> </a>
                    <% if user_own_review %>
                    | <%= link_to edit_software_plan_rating_path(@subscription.software_plan, rating) do %> <i class="fa fa-edit"> </i> <% end %>
                      <%= link_to software_plan_rating_path(@subscription.software_plan, rating), method: :delete, data: { confirm: "Are you sure?" } do %> <i class="fa fa-trash"> </i> <% end %>
                    <% end %>
                </p>
                <p class="review-origin ml-3"> <%=rating.updated_at %> by someone from <%= rating.user.company.country%> with function <%= rating.user.function %> in company of <%= rating.user.company.company_size.downcase %> employees </p>
              <% elsif rating.rating == 5 %>
                <p> <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                  | <a href="<%=rating_path(rating.id)%>"> <%= description %> </a>
                    <% if user_own_review %>
                    | <%= link_to edit_software_plan_rating_path(@subscription.software_plan, rating) do %> <i class="fa fa-edit"> </i> <% end %>
                      <%= link_to software_plan_rating_path(@subscription.software_plan, rating), method: :delete, data: { confirm: "Are you sure?" } do %> <i class="fa fa-trash"> </i> <% end %>
                    <% end %>
                </p>
                <p class="review-origin ml-3"> <%=rating.updated_at %> by someone from <%= rating.user.company.country%> with function <%= rating.user.function %> in company of <%= rating.user.company.company_size.downcase %> employees </p>
              <%end%>
          <%end%>
          <a href="<%=software_plan_ratings_path(@subscription.software_plan_id)%>"> See all reviews </a>
        <%end%>

    <!--    <a href="<%=new_software_plan_rating_path(@subscription.software_plan.id)%>"> Add a review </a> -->
      </div>
    </div>

  <h3>My Chart</h3>
  <div id="chartContainer">
   <%= @chart.render() %>
  </div>

  <%= pie_chart Subscription.group(:price).count , width: "400px", height: "300px"%>
  <%= column_chart Subscription.group(:price).count , width: "400px", height: "300px"%>
  <%= line_chart Subscription.group(:price).count , width: "400px", height: "300px"%>




<%else%>
  <div>
    <p> Your account is still not approved </p>
  </div>
<%end%>

<div class="container">
<div class="row justify-content-center">
      <div class="mt-5 mb-3">
      <%= link_to "Back to overview", company_subscriptions_path(current_user.company_id), class: "btn btn-primary" %>
    </div>
  </div>

</div>

</div>

