<h1><%= @softwarePlan.name %></h1>
<p>

<%= link_to "Update", edit_software_software_plan_path(@softwarePlan) %><%= link_to " | add a rating |", new_software_plan_rating_path(@softwarePlan) %>
</p>

<h4>Sofware features : </h4>
<ul>
<% @softwareFeatures.each do |f| %>
  <li><%= f.feature.name %></li>
<% end %>
</ul>
<hr>

<%= cl_image_tag @softwarePlan.software.photo.key  %>
</p>

<p><%= link_to "Back to all plans for #{@softwarePlan.software.name}  ", software_software_plans_path(@softwarePlan.software) %> 

<%= link_to "  |  Back to all softwares", softwares_path %>

</p>


