<h1><%= @softwarePlan.name %></h1>
<p>
<%= link_to software_plan_path(@softwarePlan), method: :delete, data: { confirm: "Are you sure?" } do %>
      <i class="fa fa-trash destroy_dose"></i>
<% end %>

<%= link_to "Update", edit_software_software_plan_path(@softwarePlan) %><%= link_to " | add a rating |", new_software_plan_rating_path(@softwarePlan) %>
</p>

<h4>Sofware features : </h4>
<ul>
<% @softwareFeatures.each do |f| %>
  <li><%= f.feature.name %></li>
<% end %>
</ul>
<hr>
<p> I want to add some features if i'm an admin ---> 
<%= link_to "add a new software feature", new_software_plan_software_feature_path(@softwarePlan) %>
</p>

<p><%= link_to "Back to all plans for #{@softwarePlan.software.name}  ", software_software_plans_path(@softwarePlan.software) %> 

<%= link_to "  |  Back to all softwares", softwares_path %>

</p>


